/*======================================
=              MENU PANEL              =
======================================*/
.one_menu_panel{
  height: 150vh;
  width: 150vw;
  position: fixed;
  left: 100vw;
  bottom: 100vh;
  transform: rotate(45deg);
  background-color: #000;
  -webkit-transition: .8s ease-out;
  -moz-transition: .8s ease-out;
  -o-transition: .8s ease-out;
  transition: .8s ease-out;
  z-index: 3;
}
.one_menu_panel--display{
  left: -58vw;
  bottom: -58vh;
}
@media screen and (max-width: 992px) {
  .one_menu_panel{
    height: 100vh;
    width: 100vw;
    left: 0px;
    bottom: 0px;
    transform: rotate(0deg);
  }
  .one_menu_panel--display{
    left: 100vw;
    bottom: 100vh;
  }
}

/*======================================
=              MENU LINKS              =
======================================*/
.one_menu_panel__links{
  position: fixed;
  bottom: 80px;
  left: 25px;
  -webkit-transition: .8s ease-out;
  -moz-transition: .8s ease-out;
  -o-transition: .8s ease-out;
  transition: .8s ease-out;
  z-index: 4;
  opacity: 0;
  pointer-events: none;
}
.one_menu_panel__links--display{
  opacity: 1;
  pointer-events: auto;
}
.one_menu_panel__link{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 3em;
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
}
.one_menu_panel__link:hover,
.one_menu_panel__link:focus{
  color: #444;
  text-decoration: none;
}

/*======================================
=              MENU BUTTON             =
======================================*/
.one_menu_button{
  position: fixed;
  mix-blend-mode:  difference;
  top: 0px;
  right: 10px;
  width: 60px;
  height: 70px;
  cursor: pointer;
  will-change: opacity;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
  z-index: 5;
}
.one_menu_button__container{
  background: transparent;
  color: #000;
}
.one_menu_button__line {
  background-color: #fff;
  height: 3px;
  position: absolute;
  left: 18px;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.one_menu_button__line:nth-child(1) {
  width: 24px;
  top: 29px;
}
.one_menu_button__line:nth-child(2) {
  width: 24px;
  top: 38px;
}
.one_menu_button__line:nth-child(3) {
  width: 14px;
  top: 47px;
}
.one_menu_button__container--displayed .one_menu_button__line:nth-child(1) {
  top: 34px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.one_menu_button__container--displayed .one_menu_button__line:nth-child(2) {
  top: 34px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.one_menu_button__container--displayed .one_menu_button__line:nth-child(3) {
  width: 0px;
}
