.two_menu_panel{
  height: 100%;
  width: 400px;
  position: fixed;
  right: 0px;

  background-color: transparent;
  border-left: 2px solid #fff;
  z-index: 3;
}
.two_menu_panel--display{
}
.two_menu_panel__links{
  bottom: 80px;
  left: 25px;
  z-index: 4;

  opacity: 0;
  pointer-events: none;
}
.two_menu_panel__links--display{
  opacity: 1;
  pointer-events: auto;

}
.two_menu_panel__link{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 3em;
}
.two_menu_panel__links--display .two_menu_panel__sect {
  animation: FadeIn .3s linear;
  animation-fill-mode: both;
}
.two_menu_panel__links--display .two_menu_panel__sect:nth-child(1) { animation-delay: .2s }
.two_menu_panel__links--display .two_menu_panel__sect:nth-child(2) { animation-delay: .4s }
.two_menu_panel__links--display .two_menu_panel__sect:nth-child(3) { animation-delay: .6s }
.two_menu_panel__links--display .two_menu_panel__sect:nth-child(4) { animation-delay: .8s }

@keyframes FadeIn {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }

  85% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0px);
    transform: scale(1);
  }
}

.two_menu_panel__link:hover,
.two_menu_panel__link:focus{
  color: #444;
  text-decoration: none;
}







.two_menu_btn{
  position: fixed;
  mix-blend-mode:  difference;
  top: 0px;
  right: 10px;
  width: 60px;
  height: 70px;
  cursor: pointer;
  will-change: opacity;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
  z-index: 5;
}
.two_menu_btn__container{
  background: transparent;
  color: #000;
}
.two_menu_line1{
  background-color: #fff;
  height: 3px;
  width: 24px;
  position: absolute;
  left: 18px;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;

  top: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.two_menu_line1--display{
  top: 34px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.two_menu_line2{
  background-color: #fff;
  height: 3px;
  width: 24px;
  position: absolute;
  left: 18px;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;
	top: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.two_menu_line2--display{
  top: 34px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.two_menu_line3{
  background-color: #fff;
  height: 3px;
  width: 14px;
  position: absolute;
  left: 18px;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;

  top: 47px;
}
.two_menu_line3--display{
  width: 0px;
}

@media screen and (max-width: 992px) {
  .two_menu_panel{
    height: 100vh;
    width: 100vw;

    left: 0px;
    bottom: 0px;
    transform: rotate(0deg);
  }
  .two_menu_panel--display{
    left: 100vw;
    bottom: 100vh;
  }
}
