.eight_menu_panel{
  height: 100vh;
  width: 66vw;
  position: fixed;
  right: -66vw;
  background-color: #000;
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
}
.eight_menu_panel--display{
  right:0px;
}

.eight_menu_background{
  height: 100vh;
  width: 100vw;
  position: fixed;
  right: -100vw;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100vw;
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
}
.eight_menu_background--display{
  right:0px;
}

.eight_menu_panel__links{
  position: absolute;
  bottom: 80px;
  top: 25vh;

  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
  z-index: 4;
  transform: translateX(50vw);
  opacity: 0;
  pointer-events: none;
}
.eight_menu_panel__links--display{
  opacity: 1;
  transform: translateX(0px);
  pointer-events: auto;

}
.eight_menu_panel__link {
  line-height: 129px;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
}
.eight_menu_panel__link:hover,
.eight_menu_panel__link:focus{
  color: #444;
  text-decoration: none;
}
.eight_menu_panel__link_div {
  padding-left: 28px;
  padding-right: 28px;
  vertical-align: middle;
}
.eight_menu_btn{
  position: fixed;
  mix-blend-mode:  difference;
  top: 0px;
  right: 10px;
  width: 60px;
  height: 70px;
  cursor: pointer;
  will-change: opacity;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
  z-index: 5;
}
.eight_menu_btn__container{
  background: transparent;
  color: #000;
}
.eight_menu_line1{
  background-color: #fff;
  height: 3px;
  width: 24px;
  position: absolute;
  left: 18px;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;

  top: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.eight_menu_line1--display{
  top: 34px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.eight_menu_line2{
  background-color: #fff;
  height: 3px;
  width: 24px;
  position: absolute;
  left: 18px;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;
	top: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.eight_menu_line2--display{
  top: 34px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.eight_menu_line3{
  background-color: #fff;
  height: 3px;
  width: 14px;
  position: absolute;
  left: 18px;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;

  top: 47px;
}
.eight_menu_line3--display{
  width: 0px;
}




@media screen and (max-width: 768px) {
  .eight_menu_panel {
    width: 100vw;
    right: -100vw;
  }
  .eight_menu_panel--display{
    right:0px;
  }
}