/*======================================
=              MENU PANEL              =
======================================*/
.eleven_menu_panel{
height:55vh;
width: 100vw;
position: fixed;
top: -55vh;
background-color: #000;
}
.eleven_menu_panel--display{
  animation: ElevenMenuAppear .6s ease-out;
  animation-fill-mode: both;
}
.eleven_menu_panel--hidden {
  animation: ElevenMenuDisappear .4s ease-out;
  animation-fill-mode: both;
}

@keyframes ElevenMenuAppear {
  0% {
    transform: translateY(0vh);
  }
  40% {
    transform: translateY(55vh);
  }
 100% {
    transform: translateY(50vh);
  }
}
@keyframes ElevenMenuDisappear {
  0% {
    transform: translateY(50vh);
  }
 100% {
    transform: translateY(0vh);
  }
}

@media screen and (max-width: 768px) {
  .eleven_menu_panel {
    width: 100vw;
    right: -100vw;
  }
  .eleven_menu_panel--display{
    right:0px;
  }
}
/*======================================
=              MENU LINKS              =
======================================*/
.eleven_menu_panel__links{
  position: absolute;
  bottom: 0px;
  display: flex;
  z-index: 4;
}
.eleven_menu_panel__links--display{
}
.eleven_menu_panel__link {
  line-height: 129px;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
}
.eleven_menu_panel__link:hover,
.eleven_menu_panel__link:focus{
  color: #444;
  text-decoration: none;
}
.eleven_menu_panel__link_div {
  padding-left: 28px;
  padding-right: 28px;
  vertical-align: middle;
}

/*======================================
=              MENU BUTTON             =
======================================*/
.eleven_menu_button{
  position: fixed;
  mix-blend-mode:  difference;
  top: 0px;
  right: 10px;
  width: 60px;
  height: 70px;
  cursor: pointer;
  will-change: opacity;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
  z-index: 5;
}
.eleven_menu_button__container{
  background: transparent;
  color: #000;
}
.eleven_menu_button__line {
  background-color: #fff;
  height: 3px;
  position: absolute;
  left: 18px;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.eleven_menu_button__line:nth-child(1) {
  width: 24px;
  top: 29px;
}
.eleven_menu_button__line:nth-child(2) {
  width: 24px;
  top: 38px;
}
.eleven_menu_button__line:nth-child(3) {
  width: 14px;
  top: 47px;
}
.eleven_menu_button__container--displayed .eleven_menu_button__line:nth-child(1) {
  top: 34px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.eleven_menu_button__container--displayed .eleven_menu_button__line:nth-child(2) {
  top: 34px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.eleven_menu_button__container--displayed .eleven_menu_button__line:nth-child(3) {
  width: 0px;
}