/*======================================
=              MENU PANEL              =
======================================*/
.one_menu_panel{
  height: 150vh;
  width: 150vw;
  position: fixed;
  right: -150vw;
  top: -150vh;
  transform: rotate(45deg);
  background-color: #000;
  transition: .8s ease-out;
  z-index: 3;
}
.one_menu_panel--display{
  transform: translateX(-158vw) translateY(158vh) rotate(45deg);
}
@media screen and (max-width: 992px) {
  .one_menu_panel{
    height: 100vh;
    width: 100vw;
    top: 0;
    right: -100vw;
    transition: .4s ease-out;
    transform: rotate(0deg);
  }
  .one_menu_panel--display{
    transform: translateX(-100vw);
  }
}

/*======================================
=              MENU LINKS              =
======================================*/
.one_menu_panel__links{
  position: fixed;
  bottom: 80px;
  left: 25px;
  transition: .8s ease-out;
  z-index: 4;
  opacity: 0;
  pointer-events: none;
}
.one_menu_panel__links--display{
  opacity: 1;
  pointer-events: auto;
}
.one_menu_panel__link{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  transition: .4s ease-out;
}
.one_menu_panel__link:hover,
.one_menu_panel__link:focus{
  color: #444;
  text-decoration: none;
}

/*======================================
=              MENU BUTTON             =
======================================*/
.one_menu_button{
  position: fixed;
  mix-blend-mode:  difference;
  top: 0px;
  right: 10px;
  width: 60px;
  height: 70px;
  cursor: pointer;
  will-change: opacity;
  transition: .25s ease-out;
  z-index: 5;
}
.one_menu_button__container{
  background: transparent;
  color: #000;
}
.one_menu_button__line {
  background-color: #fff;
  height: 3px;
  position: absolute;
  left: 18px;
  transition:.25s ease-out;
  transform: rotate(0deg);
}
.one_menu_button__line:nth-child(1) {
  width: 24px;
  top: 29px;
}
.one_menu_button__line:nth-child(2) {
  width: 24px;
  top: 38px;
}
.one_menu_button__line:nth-child(3) {
  width: 14px;
  top: 47px;
}
.one_menu_button__container--displayed .one_menu_button__line:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.one_menu_button__container--displayed .one_menu_button__line:nth-child(2) {
  transform: translateY(-4px) rotate(-45deg);
}
.one_menu_button__container--displayed .one_menu_button__line:nth-child(3) {
  width: 0px;
}
